<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/btn.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="flex-col align-center p-5">
        <h1>Ödeme tamamlandı</h1>
        <h3>Danışmana mesaj gönderebilirsiniz</h3>
        <textarea name="" id=""></textarea>
        <div class="flex-row ">
            <button type="submit" class="btn btn2">Gönder</button>
            <button>Randevularım</button>
            <!-- onclick="window.location.href='/appointments'" -->
        </div>

    </div>
    
</body>
</html>