<!-- calender -->
<div class="max-width m-5 border">

    <div id="date" class="flex-row justify-space width m-5 border p-2">
        
            <i class="bi bi-caret-left pointer" onclick="goBack()"></i>
            <div>
                <span id="month">Nisan</span>
                <span id="year">2025</span>
            </div>
            <i class="bi bi-caret-right pointer"  onclick="goForward()"></i>
        
    </div>


    <div class="m-5">
        <table id="date-table" class="width">
            <colgroup>
                <col span="1" id="1">
                <col span="1" id="2">
                <col span="1" id="3">
                <col span="1" id="4">
                <col span="1" id="5">
                <col span="1" id="6">
                <col span="1" id="0">

            </colgroup>
        <thead>
            <tr>
                <th class="p-3">Pt</th>
                <th class="p-3">sa</th>
                <th class="p-3">Ça</th>
                <th class="p-3">Pe</th>
                <th class="p-3">Cu</th>
                <th class="p-3">Ct</th>
                <th class="p-3">Pa</th>
            
            </tr>
        </thead>
        <tbody>
        
            <tr class="tr-row "></tr>
            <tr class="tr-row"></tr>
            <tr class="tr-row"></tr>
            <tr class="tr-row"></tr>
            <tr class="tr-row"></tr>
            <tr class="tr-row"></tr>
            <tr class="tr-row"></tr>
        

        </tbody>
            
        </table>
    </div>

</div>