<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Görüşme Başlat</title>
  <script src='https://meet.jit.si/external_api.js'></script>
</head>
<body>
  <!-- <h1>Danışman Görüşmesi</h1> -->
  <div id="jitsi-container" style="height: 600px; width: 100%;"></div>

  <script>
    const domain = "meet.jit.si";
    const options = {
        roomName: "123",
        width: "100%",
        height: 600,
        parentNode: document.getElementById("jitsi-container"),
        userInfo: {
            displayName: "Ahmet"
        }
    };
    const api = new JitsiMeetExternalAPI(domain, options);
  </script>
</body>
</html>
