<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/counselor-profile.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Counsoler's profile</title>
</head>
<body>
    <!--Counsoler's profile-->
                <!--navbar-->
           
                <!--/navbar-->
    <!--main-->
    <div class="flex-col border m-5 rounded ">
        <img src="../images/pic7.jpg" alt="" class="therapist rounded m-4">
        <!--description and button-->
        <div class="flex-col m-4">
            <div>
                <h4>Ahmet Yılmaz</h4>
                <div> Uzmanlık Alanları: Anksiyete, Stres Yönetimi, Bilişsel Davranışçı Terapi (BDT)</div>

                    <h5>Eğitim:</h5>
                     <div>Boğaziçi Üniversitesi – Psikoloji Lisans
                     Koç Üniversitesi – Klinik Psikoloji Yüksek Lisans
                     Harvard University – Kısa Dönem Stres Yönetimi Eğitimi</div>
                    
                    <h5>Deneyim:</h5>
                     <div>10+ Yıllık Deneyim – Ruh sağlığı alanında bireysel ve grup terapileri yürütmektedir.
                     Devlet ve Özel Klinik Deneyimi – İstanbul’da çeşitli hastanelerde ve özel psikoloji kliniklerinde çalışmıştır.
                     Online ve Yüz Yüze Görüşme – Danışanlarına hem online hem de yüz yüze terapi hizmeti sunmaktadır.</div>
            </div>
            

        </div>
    </div>
    <!--/Counsoler's profile-->

</body>
</html>