<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselors</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/counselors.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
            <!--navbar-->
            <nav class="navbar navbar-expand-lg">
        
                <a class="navbar-brand" href="#"><img src="./images/logo final.png" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <select class="form-select width-20" aria-label="Default select example">
                        <option selected>Dashboard</option>
                        <option value="1">Profile</option>
                        <option value="2">Randevular</option>
                        <option value="3">Log out</option>
                      </select>
                </div>
                
              
            </nav>
            <!--/navbar-->

            <!--Header-->

            <div class="justify-center align-center flex-col m-5">
                <h2>Bir Danışman Seçin</h2>
                <p>Size en uygun danışmanı seçerek mental sağlığınıza destek olun.</p>
            </div>

            <!--Speciality Select-->

            <div class="specialty flex-row justify-end width-75 mb-3">
                <select class="form-select width-20" aria-label="Default select example">
                    <option selected>Uzmanlık</option>
                    <option value="Anksiyete">Anksiyete</option>
                    <option value="Depresyon">Depresyon</option>
                    <option value="Aile Danışmanlığı">Aile Danışmanlığı</option>
                    <option value="Özgüven Geliştirme">Özgüven Geliştirme</option>
                    <option value="Travma Terapisi">Travma Terapisi</option>
                  </select>
            </div>


            <!-- /Header-->

            <!--Counselors-->
         <div class="wrap flex-row align-center ms-5" id="counselors">

            
            
            
            <!---->
           
            <% for(let i = 0 ; i < allCounselors.length ; ++i ){ %>
                <% console.log(allCounselors.length) %>
                <div class="card border flex-col me-5 p-4 justify-center align-center">
                    <img src="/images/<%= allCounselors[i].picture %>" alt="" class=" therapist">
                    <h3>Dr.<%= allCounselors[i].name %></h3>
                    <p class="text-center"></p>
                    <p class="text-center">Deneyim: <%= allCounselors[i].yearOfExperience %> Yıl</p>
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button class="btn">Randevu Al</button>
                </div>
            
            <% } %>
           
            
    </div>
           

 <!--/Counselors-->

 <script id="counselors-data" type="application/json">
    <%- JSON.stringify(allCounselors) %>
  </script>
  <script src="../js/counselor-page.js"></script>

    
</body>
</html>