<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grup Terapi</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/group-therapy.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">

</head>
<body>
    <!-- Main Container -->
     <div class="flex-row wrap justify-center">
        <!-- group therapy session  -->
        <div class="flex-col border m-5">
            
            <img src="pic4.jpg" alt="" class="pic">
            <div class="p-5">
                <!-- Title -->
            <h5 class="mb-3">Kaygı Yönetimi Grubu</h5>
            <div class="flex-row">
            <p class="bold me-2">Tarih:</p>
            <P>06.04.2025</P>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Saat:</p>
                <p>18:00</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Kişi Sayısı:</p>
                <p>5</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">yönteci:</p>
                <p>Ahmet Yıldız</p>
            </div>
            <!-- description -->
            <div class="max-width">Bu oturumda, kaygı ile başa çıkma teknikleri, nefes egzersizleri ve mindfulness yöntemleri üzerinde durulacaktır.
                 Katılımcılar, deneyimlerini paylaşma fırsatı bulacak ve destek alacaklardır.</div>
            <!-- Join Button -->
            <div class="flex-row justify-end mt-4"><button class="btn">Katıl</button></div>

        </div>


        </div>
        <div class="flex-col border m-5">
            
            <img src="pic4.jpg" alt="" class="pic">
            <div class="p-5">
                <!-- Title -->
            <h5 class="mb-3">Kaygı Yönetimi Grubu</h5>
            <div class="flex-row">
            <p class="bold me-2">Tarih:</p>
            <P>06.04.2025</P>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Saat:</p>
                <p>18:00</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Kişi Sayısı:</p>
                <p>5</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">yönteci:</p>
                <p>Ahmet Yıldız</p>
            </div>
            <!-- description -->
            <div class="max-width">Bu oturumda, kaygı ile başa çıkma teknikleri, nefes egzersizleri ve mindfulness yöntemleri üzerinde durulacaktır.
                 Katılımcılar, deneyimlerini paylaşma fırsatı bulacak ve destek alacaklardır.</div>
            <!-- Join Button -->
            <div class="flex-row justify-end mt-4"><button class="btn">Katıl</button></div>

        </div>


        </div>
        <div class="flex-col border m-5">
            
            <img src="pic4.jpg" alt="" class="pic">
            <div class="p-5">
                <!-- Title -->
            <h5 class="mb-3">Kaygı Yönetimi Grubu</h5>
            <div class="flex-row">
            <p class="bold me-2">Tarih:</p>
            <P>06.04.2025</P>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Saat:</p>
                <p>18:00</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Kişi Sayısı:</p>
                <p>5</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">yönteci:</p>
                <p>Ahmet Yıldız</p>
            </div>
            <!-- description -->
            <div class="max-width">Bu oturumda, kaygı ile başa çıkma teknikleri, nefes egzersizleri ve mindfulness yöntemleri üzerinde durulacaktır.
                 Katılımcılar, deneyimlerini paylaşma fırsatı bulacak ve destek alacaklardır.</div>
            <!-- Join Button -->
            <div class="flex-row justify-end mt-4"><button class="btn">Katıl</button></div>

        </div>


        </div>
        <div class="flex-col border m-5">
            
            <img src="pic4.jpg" alt="" class="pic">
            <div class="p-5">
                <!-- Title -->
            <h5 class="mb-3">Kaygı Yönetimi Grubu</h5>
            <div class="flex-row">
            <p class="bold me-2">Tarih:</p>
            <P>06.04.2025</P>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Saat:</p>
                <p>18:00</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Kişi Sayısı:</p>
                <p>5</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">yönteci:</p>
                <p>Ahmet Yıldız</p>
            </div>
            <!-- description -->
            <div class="max-width">Bu oturumda, kaygı ile başa çıkma teknikleri, nefes egzersizleri ve mindfulness yöntemleri üzerinde durulacaktır.
                 Katılımcılar, deneyimlerini paylaşma fırsatı bulacak ve destek alacaklardır.</div>
            <!-- Join Button -->
            <div class="flex-row justify-end mt-4"><button class="btn">Katıl</button></div>

        </div>


        </div>
        <div class="flex-col border m-5">
            
            <img src="pic4.jpg" alt="" class="pic">
            <div class="p-5">
                <!-- Title -->
            <h5 class="mb-3">Kaygı Yönetimi Grubu</h5>
            <div class="flex-row">
            <p class="bold me-2">Tarih:</p>
            <P>06.04.2025</P>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Saat:</p>
                <p>18:00</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">Kişi Sayısı:</p>
                <p>5</p>
            </div>
            <div class="flex-row">
                <p class="bold me-2">yönteci:</p>
                <p>Ahmet Yıldız</p>
            </div>
            <!-- description -->
            <div class="max-width">Bu oturumda, kaygı ile başa çıkma teknikleri, nefes egzersizleri ve mindfulness yöntemleri üzerinde durulacaktır.
                 Katılımcılar, deneyimlerini paylaşma fırsatı bulacak ve destek alacaklardır.</div>
            <!-- Join Button -->
            <div class="flex-row justify-end mt-4"><button class="btn">Katıl</button></div>

        </div>


        </div>
     </div>

     <!-- Create new session -->
      <div class="flex-row justify-end me-5 pointer" id="add"><i class="bi bi-plus-circle-fill"></i></div>


    
</body>
</html>