<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="../css/font/bootstrap-icons.css">
</head>
<body>
    <div class="flex-col justify-center align-center">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg">
        
            <a class="navbar-brand" href="#"><img src="./images/logo final.png" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <select class="form-select width-20"  aria-label="Default select example">
                    <option selected value="0">Anasaysfa</option>
                    <option value="1">Profile</option>
                    <option value="2">Randevular</option>
                    <option value="3">Mesajlar</option>
                    <option value="4">Grup terapi</option>
                    <option value="5" id="logout">Log out</option>
                  </select>
            </div>
            
            
          
        </nav>
        <!--/navbar-->

        <!--Welcome Section-->
        <div class="flex-col justify-center align-center bg-white border width-75 mt-5 height">
            <h2>Hoş geldiniz, <span id="name"><%= user.name %></span>!</h2>
            <p>Bugün nasıl hissediyorsunuz?</p>
            <!-- Feeling -->
             <form action="" id="feeling-form">
            <textarea  id="" class="width-100" name="feeling"></textarea>
            <div class="flex-row justify-end width-75">
                <button class="btn m-2" type="submit">Yükle</button>
            </div>
             </form>
            <p>Ruh halinizi takip etmek, kalıpları anlamanıza ve ruhsal sağlığınızı iyileştirmenize yardımcı olabilir.</p>
        </div>

        <!--/Welcome Section-->

<h1 class="mt-3">Yeni Bildirimler</h1>

        <!-- Appointments & Reminders -->

<div class="d-flex align-items-center bg-white border rounded shadow p-3 my-3 w-75 justify-content-between">

  <!-- Left section -->
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-bell text-primary me-3"></i>
    <div>
      <p class="mb-1 fw-medium">Ahmet Yılmaz sent you a message</p>
      <a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">See more</a>
    </div>
  </div>

  <!-- Right section -->
  <div class="d-flex flex-column justify-content-between align-items-end" style="height: 60px;">
    <small class="text-muted">2m ago</small>
    <!-- <button class="btn btn-sm btn-light border-0 mt-auto"> -->
      <i class="bi bi-trash3 pointer"></i>
    <!-- </button> -->
  </div>

</div>

        <!-- /Appointments & Reminders -->
         

        <!-- Community & Support Groups -->
         <div class="flex-col justify-center align-center bg-white border width-75 mt-5 height">
            <h3>Topluluk & Destek Grupları</h3>
            <p>Anksiyete, depresyon veya farkındalık için bir destek grubuna katılın.</p>
            <p>Henüz hiç bir gruba katılmadın</p>
            <button class="btn">Grubu bul</button>
         </div>
        <!-- /Community & Support Groups -->


        <!-- Mental Health Tips-->
        <div class="flex-col justify-center align-center bg-white border width-75 mt-5 height">
            <h3>Günün Zihinsel Sağlık İpucu</h3>
            <p>Bugünün İpucu: 5 dakikalık nefes alma molası verin. Gözlerinizi kapatın, derin nefes alın ve yavaşça verin.</p>

        </div>
        
        <!--/ Mental Health Tips-->

         
        
        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2025 InnerBalance. Tüm hakları saklıdır.</p>
        </footer>

        <!-- /Footer -->

    </div>

<script src="./js/logout.js"></script>
<script src="./js/homepage.js"></script>
</body>
</html>