<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/index.css">
    
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg">
        
          <a class="navbar-brand" href="#"><img src="./images/logo final.png" alt=""></a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
              <a class="nav-link" href="#">Hakkında</a>
              <a class="nav-link" href="#">İletişim</a>
              
              
            </div>
            <button class="btn" onclick="window.location.href='/login'">Destek Al</button>
          </div>
          
        
      </nav>
      <!--/navbar-->
      <!--First Section-->
      <div id="first-con">
        <div class="right">
            <h1>Ruh Sağlığınıza Öncelik Verin</h1>
            <p>Doğru ruh sağlığı desteğini alın.
                Sizin için doğru terapisti bulun.</p>
                <button class="btn">Terapisti Bulun</button>

        </div>
        <div class="left">
            <img src="./images/pic10.png" alt="" id="pic1">

        </div>
      </div>
      <!--/First Section-->
      <!--Second Section-->
      <div id="sec-con">
        <div id="right2">
            
            
              <p>InnerBalance, kullanıcıların danışmanlarla randevu almaları, destek gruplarına katılmaları, deneyimlerini paylaşmaları ve kişisel bir günlük aracılığıyla duygularını takip etmeleri için bir platform sağlar. Kullanıcı refahı düşünülerek tasarlanan bu platform, ruh sağlığı bakımı için güvenli ve destekleyici bir alan sunar.</p>
           
            <button class="btn" onclick="window.location.href='/signup'">
              Şimdi Başla
            </button>
        </div>
        
        <!-- <div class="left2">
            <img src="./images/pic11.png" alt="" id="left2">
        </div> -->
      </div>
      <!--/Second Section-->

      <!--Third Section SERVESIS-->
  

      <!--/Third Section-->

      <!--Fourth Section Testimonials -->
      <div id="fourth-con">
        <h1>Danışanlarımız Ne Diyor?</h1>
        <div class="container wrap">
        
        <div class="testimonial-card flex-row justify-center">
          <img src="./images/test1.jpg" alt="User Image" class="profile-img">
          <p class="quote">
              <span class="quote-symbol">“</span> 
              Bu platform sayesinde hayatım değişti. Terapistim çok yardımcı oldu. 
              <span class="quote-symbol">”</span>
          </p>
          <h3 class="name">Ayşe K.</h3>

      </div>

      <div class="testimonial-card">
        <img src="./images/test2.jpg" alt="User Image" class="profile-img">
        <p class="quote">
            <span class="quote-symbol">“</span> 
            "Destek grupları sayesinde kendimi daha iyi hissediyorum." 
            <span class="quote-symbol">”</span>
        </p>
        <h3 class="name">Mehmet D.</h3>

    </div>

    <div class="testimonial-card">
      <img src="./images/test3.jpg" alt="User Image" class="profile-img">
      <p class="quote">
          <span class="quote-symbol">“</span> 
          Psikolojik destek almak benim için zordu ama buradaki uzmanlar sayesinde bu süreci çok daha kolay hale getirdim.
          <span class="quote-symbol">”</span>
      </p>
      <h3 class="name">Can G.</h3>

  </div>
        
</div>
        
      </div>
      <!--/Fourth Section -->

      <!--Fifth Section-->
      <!-- Contact Section -->
       <div id="fifth-con" class="container">
        
      <h1>Bize Ulaşın</h1>
     
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Adınız:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">E-posta:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mesajınız:</label>
          <textarea class="form-control" id="floatingTextarea"></textarea>
        </div>
       
        <button type="submit" class="btn">Submit</button>
      </form>
    
    </div>

    <!-- Footer -->
<footer>
  <p>&copy; 2025 InnerBalance. Tüm hakları saklıdır.</p>
</footer>


      <!--/Fifth Section-->
</body>
</html>