<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesajler</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/btn.css">
</head>
<body>
    <h1>Mesajler</h1>
    <div class="flex-col">
        <!-- message -->
         <div class="flex-row border p-3 w-75 ms-3 align-center">
            <img src="../images/1746554838519-105912484.jpg" alt="" class="therapist">
            <div class="ps-2">Ahmet Yılmaz</div>
            
            
   <div class="flex-row justify-end width-75">
     <span class="badge bg-danger rounded-pill">1</span>
    </div>
        

        </div>
        <!--/ message -->

        
        
    </div>
    
</body>
</html>