<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">    
    <link rel="stylesheet" href="./css/profile.css">    
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
    <title>Profile</title>
</head>
<body>
    <!-- Main -->
    <div class="flex-col justify-center align-center">
        <h2>Profil</h2>
        <div class="flex-row">
            <img src="test3.jpg" alt="" class="user">
            <div class="edit"><i class="bi bi-pen pin"></i></div>
        </div>
        <!-- name -->
        <h5>Cana G.</h5>

        <!-- bio -->
        <div class="width-75">Merhaba, ben Cana! Günlük stresle başa çıkmak ve mental sağlığımı geliştirmek için buradayım. Düzenli olarak danışmanımla görüşerek kendimi daha iyi hissetmeye çalışıyorum. Ayrıca mindfulness ve meditasyon gibi teknikleri keşfetmeye başladım. Küçük adımlarla büyük değişiklikler yapabileceğime inanıyorum!</div>
        <!-- /bio -->

         <!-- Past Feelings -->
          <div class="flex-col width-75">
            <!-- feeling -->
             <div class=" rounded m-3 p-4 bg-f">
                <!-- date -->
                 <div class="flex-row gray">
                    <p class="me-3">28.03.2025</p>
                    <p>18:04</p>
                 </div>
                 <!-- comment -->
                  <div class="">
                    
                    Sabah çok motive değildim ve odaklanmakta zorlandım. Ancak yürüyüşe çıkınca biraz daha iyi hissettim. Danışmanımla bunu konuşacağım.

                  </div>
                  <div class="flex-row width-100 justify-end">
                   <i class="bi bi-trash3"></i>
                  </div>
             </div>
          </div>
         <!-- /Past Feelings -->
    </div>
    
</body>
</html>