<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">    
    <link rel="stylesheet" href="./css/profile.css">    
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font/bootstrap-icons.css">
    <title>Profile</title>
</head>
<body>
    <!-- Main -->
    <div class="flex-col justify-center align-center">
        <h2>Profil</h2>
        <div class="flex-row">
            <img src="../images/anon.png" alt="" class="user">
            <div class="edit" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-pen pin"></i></div>
            
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Profili Düzenle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Resim:</label>
              <input type="file" class="form-control" id="recipient-name" accept="image/*" name="pic"/>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">İsim:</label>
              <input type="text" class="form-control" id="recipient-name" placeholder="<%= user.name %>" name="name1">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Bio:</label>
              <textarea class="form-control" id="message-text" name="bio"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
              <button class="btn btn-primary" type="submit">Değişiklikleri kaydet</button>
            </div>
          </form>
        </div>`
        
      </div>
    </div>
  </div>
        </div>
        <!-- name -->
        <h5>
           <%= user.name %>
        </h5>

        <!-- bio -->
        <div class="width-75"><%= user.bio %></div>
        <!-- /bio -->

         <!-- Past Feelings -->
          <div class="flex-col width-75">
            <!-- feeling -->
             <div class=" rounded m-3 p-4 bg-f">
                <!-- date -->
                 <div class="flex-row gray">
                    <p class="me-3">28.03.2025</p>
                    <p>18:04</p>
                 </div>
                 <!-- comment -->
                  <div class="">
                    
                    Sabah çok motive değildim ve odaklanmakta zorlandım. Ancak yürüyüşe çıkınca biraz daha iyi hissettim. Danışmanımla bunu konuşacağım.

                  </div>
                  <div class="flex-row width-100 justify-end">
                   <i class="bi bi-trash3"></i>
                  </div>
             </div>
          </div>
         <!-- /Past Feelings -->
    </div>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/profile.js"></script>
</body>
</html>