.width{
    width:300px;
}
.max-width{
    max-width: 400px;
}
.btn{
background-color: #327775 !important;
color: white !important;
padding: 15px !important;
padding-left: 25px !important;
padding-right: 25px !important;
/* margin-left: 4vw; */
}
.btn:hover{
border-color: #327775 !important;
background-color: white !important;
color: #327775 !important;

}
.date-width{
width: 100px;
}
.therapist{
    width: 200px;
    height: 200px;

}